:root {
    --title-color-black: #2E2F42;
    --grey-color: #434455;
    --link-color: #404BBF;
    --accent-color: #4D5AE5;
    --accent-color-white: #F4F4FD;
    --title-color: #FFFFFF;
    --border-color:#E7E9FC;
}

body {
font-family: "Roboto", sans-serif;  
color: var(--grey-color);
background-color: var(--title-color);
}

img {
display: block;
max-width: 100%;
height: auto;
}

.list {
list-style: none;
}
.address {
font-style: normal;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}
ul, ol {
list-style: none;
margin: 0;
padding: 0;
}
.address-link {
color: var(--grey-color);
}

.address-link:hover, .address-link:focus{
 color: var(--link-color);
}  

.header {
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid var(--cornflower, #E7E9FC);
}

.header-nav {
display: flex;
justify-content: space-between;
align-items: center;
}
.header-logo {
font-family: "Raleway", sans-serif;
color: var(--accent-color);
font-weight: 800;
font-size: 18px;
 line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;  
margin-right: 76px;
display: inline-block;
margin-bottom: 16px;

}
.link {
text-decoration: none;
}
.logo {
color: var(--title-color-black);
}
.logo-accent {
color: var(--accent-color);
}

.logo-accent-white {
 color: var(--accent-color-white);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-link {  
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color-black);
padding: 24px 0;
display: block;
}

.header-link:hover, .header-link:focus {
 color: var(--link-color);
}

.header-contacts {
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--grey-color);
}
.hero-section {
padding-top: 188px; 
padding-bottom: 188px;   
}

.hero-section, .footer-section {
background-color: var(--title-color-black);
}

.hero-title {
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
line-height: 1.07;
color: var(--title-color);
max-width: 496px;
margin-right: auto;
margin-left: auto;
margin-bottom: 48px;
}
.hero-button {
display: block;
background-color: var(--accent-color);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--title-color);
cursor: pointer;
min-width: 169px;
height: 56px;
padding: 16px  32px;
margin: 0% auto;
border: none;
border-radius: 4px;
}

.hero-button:hover, .hero-button:focus {
background-color: var(--link-color);
}
.goal-section {
padding: 120px 0;
}

.goal-list {
display: flex;
justify-content: space-between;
align-items: start;
margin: 0 auto;
gap: 24px;
}
.goal-item {
width: 264px;
}

.directions-section {
padding-bottom: 120px
}

.directions-list {
display: flex;
gap: 24px;
}

.card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color-black);
margin-bottom: 8px;
}

.card-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--grey-color);
}

.team-card-text {
text-align: center;
}

.team-card-title {
text-align: center;
}


.team-section {
background-color: var(--accent-color-white);
padding-top: 120px;
padding-bottom: 120px;
}
.team-list {
display: flex;
justify-content: space-between;
gap: 24px;
}
.section {
background-color: var(--title-color);

}

.products-section {
padding-top: 96px;
padding-bottom: 120px;
}

.subtitle {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color-black);
margin-bottom: 72px;
}

.footer-section {
padding-bottom: 100px;
padding-top: 100px;
}

.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--accent-color-white);
max-width: 264px;
margin-top: 17.5px;
}
.portfolio-button {
font-weight: 500;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--accent-color);
background-color: var(--accent-color-white);
border: 1px solid var(--border-color);
cursor: pointer;
padding: 12px 24px;
margin-bottom: 72px;
border-radius: 4px;
}

.portfolio-button:hover, .portfolio-button:focus {
color: var(--title-color);
background-color: var(--link-color);
border: 1px solid transparent;
}

.list {
list-style: none;
}

.team-card {
background-color: var(--title-color);
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.container {
  width: 1158px;  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.products-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.products-item-list {
display: flex;
gap: 48px 24px;
flex-wrap: wrap;
}

.products-item-link {
margin: 32px 24px;
}

.card-team-description {
padding: 32px 16px;
}

.card-product-description {
padding: 32px 16px;
border: 1px solid var(--cornflower, #E7E9FC);
border-top: none;
}
.directions-item {
flex-basis: calc((100% - 2 * 24px) / 3);
}
.products-item {
width: calc((100% - 48px) / 3);
}
